<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:versionCode="41"
    android:versionName="3.33">
	
	<uses-sdk android:minSdkVersion="9"
		android:targetSdkVersion="33" />
	
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.VIBRATE"/>

	<permission-group
		android:name="org.blinksd.board.SuperBoard"
		android:label="@string/app_name" />

	<permission
		android:name="org.blinksd.board.BIND_THEME_API"
		android:label="@string/keyboard_theme_api_perm_label"
		android:permissionGroup="org.blinksd.board.SuperBoard"
		android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="org.blinksd.SuperBoardApplication"
        android:theme="@style/AppTheme"
		android:resizeableActivity="true"
		tools:targetApi="n">
		<activity
            android:exported="true"
			android:launchMode="singleTask"
			android:name=".SetupActivityV2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:launchMode="singleTask"
            android:name=".AppSettingsV2"
            android:label="@string/settings_activity"/>
		<activity
			android:launchMode="singleTask"
            android:name=".dictionary.DictionaryImportActivity"/>
		<activity
			android:launchMode="singleTask"
			android:name=".FontSelector"/>
		<activity
			android:launchMode="singleTask"
			android:name=".KeyboardLayoutSelector"/>
		<service
            android:exported="true"
			android:name=".InputService"
			android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter> 
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
		<service
			android:exported="true"
			android:name=".api.KeyboardThemeService"
			android:permission="org.blinksd.board.BIND_THEME_API" />
    </application>

</manifest>
